<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style="padding: 1.5%">

      <button disabled class="btn btn-dark"><span class="glyphicon glyphicon-user" aria-hidden="true">
          Login
        </span></button>
    </div>

    <!-- Login Form -->
    <form [formGroup]='rForm' (ngSubmit)="login()">
      <input formControlName="email" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <div *ngIf="rForm.controls['email'].touched && rForm.controls['email'].invalid">
        <div *ngIf="rForm.get('email').hasError('required')">
          <span>
            <div class="fieldError"> Please enter a email. </div>
          </span>
        </div>
        <div *ngIf="rForm.get('email').hasError('minlength')">
          <span>
            <div class="fieldError"> email must be at least 5 characters long. </div>
          </span>
        </div>
      </div>
      <input formControlName="password" type="text" id="password" class="fadeIn third" type="password" name="login" placeholder="password">
      <div *ngIf="rForm.controls['password'].touched && rForm.controls['password'].invalid">
        <div *ngIf="rForm.get('password').hasError('required')">
          <span>
            <div class="fieldError"> Please enter a password. </div>
          </span>
        </div>
        <div *ngIf="rForm.get('password').hasError('minlength')">
          <span>
            <div class="fieldError"> Password must be at least 5 characters long. </div>
          </span>
        </div>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>