/* You can add global styles to this file, and also import other style files */
body{
    background-color:olive !important;
}

.fieldError{
    color: red;
    padding: 0;
    font-size: 80%;
}

#toast-container > div {
    opacity:1;
}

.card{
    height: 100%;

}